.config/mpd/mpd.log
.config/clipse/
.config/dconf/
.config/go/
.config/google-chrome/
.config/nvim/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Google/
.config/nextjs-nodejs/
.config/obsidian/
.config/speech-dispatcher/
.config/assets
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/mimeapps.list
.config/nwg-look/
